
@model IEnumerable<AssetTrackingSystem_v2.Models.Model>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section CSS {
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
}

<h2>Search</h2>


<h4>Model</h4>
<hr />
<div class="container-fluid">
    <div style="text-align: right">
        <a href="@Url.Action("Create", "Model")">
            <div class="btn btn-success btn-round">
                <i class="fa fa-plus"></i> Create Model
            </div>
        </a>
    </div>

</div>
<br />


<table id="modelTable" class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>
                Manufacturer
            </th>

            <th>
                Category
            </th>

            <th>
                Model
            </th>

            <th>
                Description
            </th>


            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>





@section JavaScript {
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

    <!-- Search JS -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#modelTable').DataTable({
                ajax: {
                    url: '/Loader/GetAllModels',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: "Manufacuturer"
                    },
                    {
                        data: "Category"
                    },
                    {
                        data: "Name"
                    },
                    {
                        data: "Description"
                    },
                    {
                        render: function (data, type, object) {

                            console.log(object.Model.Id);
                        
                            return "<div style='text-align: center'>" +
                                    "<a href='/Model/Details/" + object.Model.Id + "'><i class='btn btn-xs btn-round btn-success fa fa-file'></i></a> " +
                                    "<a href='/Model/Edit/" + object.Model.Id + "'><i class='btn btn-xs btn-round btn-info fa fa-edit'></i></a> " +
                                    "<a href='/Model/Delete/" + object.Model.Id + "'><i class='btn btn-xs btn-round btn-danger fa fa-trash'></i></a>" +
                                "</div>";
                        }
                    }

                ]
            });
        });
    </script>
}